@import url('./reset.css');

input,
input:disabled:hover {
  width: 280px;
  height: 40px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #808080;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-right: 8px;
  margin-bottom: 32px;
}

input:hover {
  border: 1px solid #000;
}

input:active {
  border: 1px solid #4e75ff;
}

input:disabled:hover {
  cursor: not-allowed;
}

button {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 75px;
  height: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4e75ff;
}

button:hover {
  background: #6c8cff;
}

button:disabled {
  background: #cfcfcf;
  color: #989898;
  cursor: not-allowed;
}

.timer {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 346px;
  height: 72px;
}

.field {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 55px;
  height: 72px;
}
.value {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
}

.label {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
