@import url('./reset.css');
input {
  width: 280px;
  height: 40px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #808080;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-right: 8px;
  margin-bottom: 32px;
}
input:hover,
input:focus-visible {
  border: 1px solid #4e75ff;
  outline: 1px;
  border-radius: 4px;
  width: 280px;
  height: 40px;
}
button {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 75px;
  height: auto;
  background: #cfcfcf;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #989898;
}
button:disabled {
  background: #4e75ff;
}
.timer {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 346px;
  height: 72px;
}

.field {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 55px;
  height: 72px;
}
.value {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
}

.label {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
